@page "/forget";

@inject IAuthenticationService authService;
@inject NavigationManager navigation;
@inject Sotsera.Blazor.Toaster.IToaster Toaster
<section>
<div class = "container-fluid default-bg pt-120">
    <div class = "row d-flex justify-content-center align-items-center min-vh-100">
        <div class = "col-md-6">
           
            <div class = "card text-center py-2">
                <h2>Восстановление доступа</h2>
                @if(Errors != null)
                {
                    <div class= "aler alert-danger">
                        @foreach(var item in Errors)
                        {
                            <p>@item</p>
                        }
                    </div>
                }
                
                


                <div class = "card-body">
            <EditForm Model="model" OnValidSubmit = "ForgetByEmail">
            <DataAnnotationsValidator />
    
          

          <div class="form-group my-2">
                <label for="exampleInputEmail1">Email *</label> 
                  <InputText type="email" @bind-Value="model.Email" class="form-control" placeholder="Email..." />
                  <ValidationMessage For="(()=>model.Email)" />
           </div>

          
             <div class = "text-center">
                        @if (process)
                        {
                           <Loading></Loading>
                        }
                        else
                        {
                             <button type ="submit" class = "btn btn-info">Восстановить</button>
                        }
                      
                </div>
                </EditForm>
                </div>
                <div class="card-text">
                    <NavLink href="/login">Вход</NavLink>
                </div>
                
             </div>
             
             
        </div>
    </div>

</div>
</section>




@code {
    ForgetDTO model = new ForgetDTO();
    public bool process = false;
    public IEnumerable<string>? Errors = null;
    public string Message = "";
    public  async Task  ForgetByEmail()
    {
        process = true;
        var result = await authService.SendResetToken(model);
        process = false;
        if (result.Success)
        {
            navigation.NavigateTo("/");
        }
    }

  


   

}
