<section class="footer-bg">
    <div class="container py-4 px-4">
        <div class="row">
            <div class ="col-md-6 my-2 footer-column">
                <img src="materials/images/logo.png" height="50px"/>
                <p class="text-white mt-4">
                    Все больше и больше инвесторов начинают присматриваться к криптотрейдингу
                </p>
                <NavLink class="text-white" href="">Договор публично оферты</NavLink>
            </div>
            <div class ="col-md-3 my-2 footer-column">
                <p class="fs-18 blue-text text-uppercase fw-bold">МЕНЮ</p>
                <div class="mt-2">
                    <ul class="list-group">
                        <li class="list-group-item border-0 bg-transparent p-0"><NavLink class="text-white nav-link ps-0" href="/">Главная</NavLink></li>
                        <li class="list-group-item border-0 bg-transparent p-0"><NavLink class="text-white nav-link ps-0" href="">О компании</NavLink></li>
                        <li class="list-group-item border-0 bg-transparent p-0"><NavLink class="text-white nav-link ps-0" href="">Курс</NavLink></li>
                        <li class="list-group-item border-0 bg-transparent p-0"><NavLink class="text-white nav-link ps-0" href="">Прайс</NavLink></li>
                        <li class="list-group-item border-0 bg-transparent p-0"><NavLink class="text-white nav-link ps-0" href="">Контакты</NavLink></li>
                    </ul>
                </div>
            </div>
            <div class ="col-md-3 my-2 footer-column">
                <p class="fs-18 blue-text text-uppercase fw-bold">контакты</p>
               <div class="mt-2">
                    <ul class="list-group">
                        <li class="list-group-item border-0 bg-transparent p-0"><a class="text-white nav-link ps-0" href="tel:+77011234567">+7-701-123-45-67</a></li>
                        <li class="list-group-item border-0 bg-transparent p-0"><a class="text-white nav-link ps-0" href="tel:87172123456">8(717)2-12-34-56</a></li>
                        <li class="list-group-item border-0 bg-transparent p-0"><a class="text-white nav-link ps-0" href="">Telegram</a></li>
                        <li class="list-group-item border-0 bg-transparent p-0"><a class="text-white nav-link ps-0" href="">Instagram</a></li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>